*{
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.img {
    display: inline;

}

.img img {
    width: 95rem;
    height: 37.5rem;

}

.nav {
    position: absolute;
    top: 7px;
    width: 95rem;
    height: 37.6rem;
  
}

.nav nav ul {
    display: flex;
    list-style: none;
    padding: 1.5rem;
    padding-left: 37rem;
}

.nav nav ul li {
    padding: 1rem;
}

.p {
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: 20px;
}

.bttn {
    display: inline;
    position: relative;
    right: -450px;
    top: 130px;
}

.btn1 button {
    padding: 1rem;
    width: 300px;
    border-radius: 5rem;
    font-size: 1.5rem;
    margin-right: 2rem;
    background-color: rgb(95, 95, 226);
    color: white;
    cursor: pointer;
    border: none;
}

.btn1 :hover {
    background-color: rgb(12, 12, 125);
}

.btn2 button {
    border: 2px solid white;
    padding: 1rem;
    width: 300px;
    border-radius: 5rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.btn2 :hover {
    background-color: white;
    color: black;
}

.D {
    text-align: center;
    font-size: 4rem;
    color: black;
}

.image {
    display: flex;
}

.transition img {
    height: 31rem;
    width: 20rem;
    position: relative;
    top: 60px;
    box-shadow: 4px 3px 16px black;
    margin: 3rem;
    transition: transform 0.4s ease-in;

}

.image :hover img {
    transform: translateY(-20px);

}


span:hover {
    color: rgb(21, 21, 184);
}

.images {
    display: flex;
}

.images div img {
    height: 31rem;
    width: 20rem;
    position: relative;
    top: -80px;
    box-shadow: 4px 3px 16px black;
    margin: 3rem;
    transition: transform 0.4s ease-in;

}
.images :hover img{
    transform: translateY(-20px);
    }


.logo {
    background-color: white;
    height: 350px;
    position: relative;
    top: -0.3rem;
}

.logo img {
    height: 143px;
    width: 130px;
    position: relative;
    top: 80px;
    padding: 2.5rem;
}

.footer {
    background-color: rgb(67, 64, 64);
    height: 600px;
    text-align: center;
    font-size: 3rem;
    position: relative;
    top: -0.3rem;
}

.footer h4 {
    position: relative;
    top: 90px;
}

.footer p {
    position: relative;
    top: 90px;
    font-size: 4rem;
}

.footer button {
    width: 300px;
    padding: 1rem;
    position: relative;
    top: 150px;
    font-size: 1.8rem;
    background-color: rgb(16, 73, 197);
    border: none;
    border-radius: 50px;
    color: white
}

.footer button:hover {
    background-color: #0f0489;
}